# Virtual Environment
greenops-env/
greenops-env
venv/
env/
.venv/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
